.bayraq{
    width: 600px;
    height: 100px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top-color: #00b5e2;
    border-top-width: 100px;
    border-bottom-color: #509e2f ;
    border-bottom-width:100px ;
    background-color: #ef3340;
    margin-left: 250px;
    margin-top: 100px;
   
}

