/* Reser start */
body,h4,h1,p{
    margin: 0px;
    padding: 0px;
}
li{
    list-style-type: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
/* reset end */


/* start header */
#header{
    background-color: #10153D;
    color: white;
}
.container{
    width: 1200px;
    border: 1px solid black;
    margin:0px auto;
}

nav{
    border: 1px solid black;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-navbar{
    border: 1px solid red;
    display: flex;
    align-items: center;
}
.navbar-list ul{
    border: 1px solid red;
    display: flex;
}
.navbar-list ul li{
    margin-right: 35px;
}

.nav-contact{
    display: flex;
}
.contact{
    margin-right: 30px;
}

.card{
    border: 1px solid black;
    display: flex;
}
.card-left{
    border: 1px solid black;
    width: 600px;
}
.card-left-top{
    border: 1px solid red;
}
.card-left-top-sign button{
margin-right: 30px;
}

.card-left-bottom{
    border: 1px solid red;
    display: flex;
}
.card-left-bottom-box{
    border: 1px solid blue;
    margin-right: 25px;
}
.card-rigth{
    border:1px solid black;
    margin-left: 5px;
    width: 600px;
    
}
.card-rigth img{
    border: 1px solid black;
    width: 100%;
}
