#navbar{
border-bottom: 1px solid #dbdee9;


}
.navbar-container{

padding: 10px 30px;
display: flex;
justify-content: space-between;
border-bottom: 0px;
height: 50px;
}

.navbar-logo{
    

}

.navbar-nav ul{
    
    display: flex;
    color: #041735;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-weight: 600;
    padding: 15px 9px;
    margin: 0px;


}
.navbar-nav ul li{
    list-style: none;
    margin-right: 50px;
    

    
}
.navbar-action{
    
}
.button-action{
    background-color:  #2845ba;
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    padding: 16px 32px;
    border-style: none;
    border-radius: 6px;
}



#section{

}
.section-container{
    
    display: flex;
    
    
    margin: 0px;    
}

.section-article{
    display: flex;
    flex-direction: column;
   
    padding: 150px 100px ;
    width: 455px;
    height: 357px;
    
}

.section-img{
   
    width: 520px;
    height: 550px;

}

.p1{
    
    background: rgba(40,69,186,.1);
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    margin: 5px;
    color: #2845ba;
    font-weight: 600;
    padding: 5px 10px;
    width: 200px;
    border-radius: 3px;
    font-style: normal;
    
}

.section-article h1{
    
    font-size: 40px;
    margin: 5px;
    color: #212529;
    font-family: "Cabin",sans-serif;

}
.input-button{
    font-family: "Open Sans",sans-serif;
    
    font-size: 20px;
   
}
.input-button input{
    height: 70px;
    width: 250px;
    margin: 0px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #2845ba;
    font-size: 16px;
    padding-left: 24px;
}
.input-button button{
    height: 74px;
    margin: -10px;
    width: 150px;
    background-color: #2845ba;
    color: #fff;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 16px;
    border-style: none;
}




    
.p2{
    
    color: #5c6168;
    padding-right: 22px;
    font-family: "Open Sans",sans-serif;
    margin-bottom: 40px;
}